<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator />
    <property name="prefix" value="vietjack_web"/>
    <property name="logging.directory" value="/u01/app/"/>
    <property name="MESSAGE_FORMAT" value="%d{yyyy/MM/dd} %d{HH:mm:ss.SSS} %5(%.-5level) %-50(%logger{25}.%M[%line]) | %message %throwable%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${MESSAGE_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily and size rollover -->
            <fileNamePattern>${logging.directory}/${prefix}/logs/${prefix}-log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${MESSAGE_FORMAT}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>


    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.thymeleaf" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
<!--    <logger name="aaa.bbb.ccc.controller" level="DEBUG" />-->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="MAIN"/>
<!--        <appender-ref ref="REQUEST_LOG"/>-->
    </root>
</configuration>