<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HOME</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{~/assets/img/favicon.ico}">

</head>

<body>
<main>
    <h1 style="text-align: center; padding: 50px ">SYSTEM STARTED</h1>
</main>
</body>
</html>